body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.head {
    display: inline-block;
    width: 100%;
    background: #14A697;
    text-align: center;
}

.head h1 {
    font-weight: 100;
    /*for changing font weight of header*/
    font-size: 40px;
    /*for changing font size*/
}

.nav {
    width: 100%;
    height: 7vh;
    background: #FF8C00;
}

.nav a {
    float: left;
    width: 33%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav a:hover {
    background:#F2C12E;
    font-weight: bolder;
}

.main {
    background-size:100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

.details{
    display: flex;
    width: inherit;
    height: 50%;
    margin:0;
    align-items: center;
    background: url('../images/Background.png');
    background-size: cover;
    background-position-y: center;
}

.details p{
    display: inline-block;
    background:#14A697;
    opacity:100%;
    color: white;
    padding:20px;
    border-radius: 30px;
    width: 58%;
    margin: 20px;
    position: absolute;
    top: 130px;
    left:245px
}
.list{
    background-color: #F27649;
    background-size: cover;
    background-position-y: center;
    display: inline-block;
    width: inherit;
    height: 50%;
    margin:0;
}
.topichead{
    background: #FF8C00;
    margin:0;
    display:flex;
    width:100%;
    height:20%;
    align-items: center;
    justify-content: center;
}
.place{
    background: #F2C12E;
    color: rgb(85, 63, 63);
    width:max-content;
    font-size: 20px;
    height: 25vh;
    border: 5px solid black;
    border-radius: 30px 30px 30px 30px;
}
.placeimg{
    height: 80%;
    border-radius: 20px 20px 0 0;
}
.placelink{
    width: max-content;
    display: inline-block;
    margin:15px;
    text-decoration: none;
    color: black;
}
.placename{
    height: 20%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}